body{
    background-color: beige;
}

#general{
    width: 100%;
}

#mascota{
    display: flex;
    justify-content: center;
}

.necesidad{
    border: solid 1px black;
    width: fit-content;
    padding: 10px;
}
#necesidades{
    justify-content: center;
    display: flex;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#tienda{
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    background-color:darkgray;

}
#tienda:hover{
    background-color: grey;
    color: white;
    cursor: pointer;
}
#hambre{
    background-color: chocolate;
}
#limpieza{
    background-color: aqua;
}
#felicidad{
    background-color: greenyellow;
}
#energia{
    background-color: violet;
}

#fotoPou{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-42.5%,-50%);
}

#acciones{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
}
.accion{
    margin: 10px;
    border-radius: 10px;
}

#comer{
    background-color: chocolate;
}
#comer:hover{
    background-color: brown;
    cursor: pointer;
    color: white;
}
#limpiar{
    background-color: aqua;
}
#limpiar:hover{
    background-color: blue;
    cursor: pointer;
    color: white;
}
#jugar{
    background-color: greenyellow;
}
#jugar:hover{
    background-color: green;
    cursor: pointer;
    color: white;
}
#dormir{
    background-color: violet;
}
#dormir:hover{
    background-color: darkorchid;
    cursor: pointer;
    color: white;
}

#monedas{
    position: absolute;
    top: 10px;
    left: 90%;
    transform: translate(-50%,0);
    background-color: gold;
    border: solid 1px black;
    width: fit-content;
    text-align: center;
    padding: 5px;
}

.item {
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.item img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

#fotoPou{
    width: auto;
    height:45%;
}


.itemPers{
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.itemPers img{
    height: 100px;
    width: auto;
    margin: 0 auto;
    display: block;
}

.aspectos{
    position: absolute;
    top: 10px;
    left: 100px;
    border-radius: 10px;
    background-color:darkgray;

}
.aspectos:hover{
    background-color: grey;
    color: white;
    cursor: pointer;
}

#dentroAspectos{
    position: absolute;
    top: 70px;
    left: 80%;
    transform: translate(-50%,0);

}

.comprarAspecto{
    padding: 10px;
    border-radius: 10px;
    background-color: gold;
    cursor: pointer;
}

.comprarAspecto:hover{
    background-color: red;
    color: white;
}